---
interface Props {
  as?: string;
  href?: string;
  text: string;
  id?: string;
  class?: string;
}
const { as = 'button', href = '', text, id, class: className } = Astro.props;
---

{
  as === 'a' ? (
    <a
      href={href}
      id={id}
      class={`btn ${className}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      {text}
    </a>
  ) : (
    <button id={id} class={`btn ${className}`}>
      {text}
    </button>
  )
}
